{% extends 'base.html' %}

{% block contents %}
<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
    <br>
    <h1>종합 베스트셀러</h1>
    <div class="row row-cols-1 row-cols-md-3">
        
        {% for book in totalbooks.all %}
        <div class="col mb-4">
          <div class="card h-100">
            <img src="..."  class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">{{ book.title }}</h5>
              <p class="card-text">{{book.price}}</p>
            </div>
          </div>
        </div>
        {% endfor %}
    </div>
</main>
{% endblock %}