{% extends 'base.html' %}

{% block contents %}
<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
    <br>
        <h1>교보문고 베스트셀러</h1><br>
        <div class="row row-cols-1 row-cols-md-6">
        
            {% for book in navers.all %}
            <div class="col mb-4">
                <div class="card h-100">
                <img src="{{book.image}}" class="card-img-top" style="max-width: 100%;"  height="300" alt="...">
                <div class="card-body">
                  <h5 class="card-title">{{ book.title }}</h5>
                  <p class="card-text">저자 : {{book.author}}</p>
                  <p class="card-text">가격 : {{book.price}}</p>
                  <p class="card-text"><a href="{{book.link}}" target="_blank">구매하기</a></p>
                  <p class="card-text"><a href="{{book.image}}" target="_blank">이미지</a></p>
                </div>
              </div>
            </div>
            {% endfor %}
        </div>
    
    
</main>
{% endblock %}